<?xml version="1.0" encoding="UTF-8"?>
<node name='Payload' gate='OR'>
    <node name='LREG' gate='OR'>
        <event name='LREG_SEGR'/>
        <event name='LREG_TID'/>
    </node>
    <node name='MCU' gate='OR'>
        <node name='WDT_MCU_SEL' gate='AND'>
            <event name='MCU_SEL'/>
            <event name='WDT_TID'/>
        </node>
        <event name='MCU_TID'/>
    </node>
    <node name='SRAM' gate='OR'>
        <node name='WDT_SRAM_SEL' gate='AND'>
            <event name='SRAM_SEL'/>
            <event name='WDT_TID'/>
        </node>
        <event name='SRAM_TID'/>
    </node>
</node>