<node name="Payload" gate="or">
  <node name="REG" gate="or">
    <event name="REG_TID" model="timeseries" axis="t" params="events,REG_TID"/>
    <event name="REG_DSEE" model="timeseries" axis="t" params="events,REG_DSEE"/>
  </node>
  <node name="MCU" gate="or">
    <event name="MCU_TID" model="timeseries" axis="t" params="events,MCU_TID"/>
    <node name="Harden_MCU_SEL" gate="and">
    <event name="MCU_SEL" model="timeseries" axis="t" params="events,MCU_SEL"/>
      <node name="WDT" gate="or">
        <event name="WDT_TID" model="timeseries" axis="t" params="events,WDT_TID"/>
      </node>
    </node>
    <node name="Harden_MCU_SEFI" gate="and">
      <event name="MCU_SEFI" model="timeseries" axis="t" params="events,MCU_SEFI"/>
      <ref name="WDT"/>
    </node>
  </node>
  <node name="SRAM" gate="or">
    <event name="SRAM_TID" model="timeseries" axis="t" params="events,SRAM_TID"/>
    <node name="Harden_SRAM_SEL" gate="and">
      <event name="SRAM_SEL" model="timeseries" axis="t" params="events,SRAM_SEL"/>
      <ref name="WDT"/>
    </node>
  </node>
</node>
