<?xml version="1.0" encoding="UTF-8"?>
<node name='Z' gate='OR'>
    <event name='A' model='lognormal' params='10,0.1' axis='D'/>
    <node name='Y' gate='AND'>
        <event name='B1' model='exponential' params='6.7e-8' axis='t'/>
        <event name='B2' model='exponential' params='6.7e-8' axis='t'/>
    </node>
</node>